plot_testing.ipynb
python/temp_image_dir

# ignore all python cache files
**/__pycache__

# ignore all DS_Store files
**/.DS_Store

*.o

.vscode/

CPP/makePatch
CPP/makefile:Zone.Identifier

wedgeData_v3_128.txt*

# output files
C/cOutput.txt
C/cOutputMain.txt
CPP/cppOutput.txt
CPP/pythonOutput.txt
CPP/wedge24cpp.txt
CPP/accOutputC.txt
diffOutput.txt
perfectOutput.txt