plot_testing.ipynb
python/temp_image_dir

# ignore all python cache files
**/__pycache__

# ignore all DS_Store files
**/.DS_Store

*.o

CPP/makePatch
CPP/makefile:Zone.Identifier

wedgeData_v3_128.txt*